.bigbox{
    border: 2px solid red;
    height: 400px;
    width: 100%;
    padding: 10px 10px 10px 10px;
}
.maDv1{
    background-color: rgb(8, 222, 255);
    height: 100px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: absolute;
    top: 90px;
}
.maDv2{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: static;
}
.maDv3{
    background-color: rgb(188, 84, 10);
    height: 100px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.maDv4{
    background-color: rgb(27, 3, 123);
    height: 100px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: sticky;
    bottom: 10px;
}