.maPa{

    height: 200px;
    background-color: blueviolet;
    width: 200px;
    margin: 100px 0px 10px 0px;
    border-radius: 0px 10px 30px 40px;
    
}
.fixed{
    position: fixed;
}
.relative{
    position: relative;
    left: 100px; 
    top: 10px;   
}
.absolute{
    position: absolute;
    right: 30px;
    
}
.sticky{
    position: sticky;
    
}
.abd{
    writing-mode: vertical-rl;
    text-orientation: upright;
    mix-blend-mode: ;
}
